.background{
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}

.box{
    box-sizing: border-box;

    position: absolute;
    width: 670px;
    height: 960px;
    left: 625px;
    top: 60px;

    background: #FFFFFF;
    border: 1px solid #AACDFF;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inbox{
    width: 470px;
    height: 818px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    width: 466px;
    height: 94px;

    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;

    color: #0068FF;
}

.inputbox{
    width: 466px;
    height: 80px;
}

.smalltitle{
    width: 158px;
    height: 23.65px;

    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: #797979;
}

.underbar{
    width: 466px;
    height: 0px;
    border: 1px solid #0068FF;
}

.underbar2{
    width: 466px;
    height: 0px;
    border: 1px solid #CFCFCF;
}

.underbar3{
    width: 466px;
    height: 0px;
    border: 1px solid #E6E6E6;
}


.gendercheck{
    width: 100%;
    height: 23.94px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.circle{
    background: #EBEBEB;
    border: 1px solid #D2D2D2;
}

.checktitle{
    width: 30px;
    height: 23.94px;

    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #000000;
}

.checkbox{
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;


    color: #000000;
}


.signup{
    box-sizing: border-box;

    width: 470px;
    height: 75px;

    background: #FFFFFF;
    border: 1px solid #0068FF;
    border-radius: 10px;
    /* font */
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    text-align: center;

    color: #0068FF;
}